# fly.toml app configuration file generated for omefans-backend on 2025-12-11T08:55:04+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'omefans-backend'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true

# Add a health check to ensure the app is running correctly before accepting traffic.
[checks]
  [checks.http_check]
    interval = "15s"
    timeout = "10s"
    method = "GET"
    path = "/api/"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
