# fly.toml app configuration file generated for omefans-backend on 2025-12-10T12:44:44+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'omefans-backend'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

[env]
  DATA_DIR = '/data/db'
  PORT = '3000'

[[mounts]]
  source = 'omefans_data_ams'
  destination = '/data/db'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
